body {
	font-family: Arial, sans-serif;
	background: #111;
	color: #eee;
	text-align: center;
	margin-top: 80px;
}

h1 {
	color: #469c47;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	background: #46aa4a;
	border: none;
	color: #fbfafa;
	cursor: pointer;
}

button:hover {
	background: #45a049;
}
